<div><form action="/m/members/member-login" method="post">

    <div>用户名<input name="passportid" value="${passportid!}"/></div>
    <div>密码<input name="password" value="${password!}" type="password"/></div>
    <div>
        保存登录状态：<input type="checkbox" name="keepalive" checked="checked"/>

    </div>
    <div><#if loginError??&&loginError==true><b>用户名或者密码错误，请重试</b></#if></div>
    <input type="submit" value="提交">
</form></div>
