/*定义header宽度*/
.header_frame{
    width:1280px;
}
/*定义logo*/
.logo{
    margin-left:120px;
}
body{
    margin: 0;
    font-size: 75%;
    background-color: white;
    font-family: 'Lucida Grande', Tahoma, Arial, '宋体';
    line-height: 1.5;
}
.page{
    margin:0 auto;
    width:1280px;
    margin-bottom: 10px;
}
#search{
    width: 330px;
    margin-top: -120px;
    margin-left: 400px;
}
.search_box,.search_box:hover,.search_box:focus{
    width:300px;
    height:30px;
    padding-right: 5px;
    background-image: url('/css/img/search.png') ;
    background-repeat:no-repeat;
    background-position:275px;
    border: 1px inset;
    border-radius: 5px;
    background-color: white;
}

#navigation_bar{
    margin-left:100px;
}
#nav-menu{
    margin-top: 30px;
    margin-left: 140px;
}
#cart{
    float: right;
    margin-right: 100px;
    font-size: 1em;
    letter-spacing: 1px;
}
#cart a{
    padding-right: 30px;
    color: rgb(46, 45, 44);
    text-decoration: none;
}
#left-nav{
    width: 200px;
    margin: 40px 80px 0 150px;
    line-height: 20px;
    float: left;
}
#nav_top{
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 20px;
    width: 200px;
    height: 30px;
    padding-top: 8px;
    background-color: silver;
}
.nav_menu{
    font-size: 1.2em;
    color: rgb(39, 38, 38);
    margin-top: 20px;
}
.nav_submenu{
    /*margin-left: 15px;*/
}
.nav_submenu a{
    text-decoration: none;
    color:black;
}
/*最后一个子菜单的bottom要大一点*/
.nav_submenu+.nav_line{
    margin-top: 20px;
}
/*每个nav_menu头上有一条分割线*/
.nav_line{
    width: 200px;
    height: 1px;
    background: silver;
}

#maincontent{
    margin-left:100px;
}

#maincontent h1{
    background: url('/css/img/divbanner.gif') 0 0 no-repeat;
    margin-left: 50px;
}
.bannertitle{
    background-color: #fff;
    height: 30px;
    display: inline-block;
    /* padding: 0 1em; */
    font-family: "黑体";
    font-size: 30px;
    color: #000;
    font-weight: bold;
    margin-top: -6px;
    margin-left: 424px;
}

.imgitem{
    float: left;
    margin-right: 50px;
    margin-bottom: 20px;
}

.itemdesc{
    margin-top: -10px;
}
h1+.imgitem{
    margin-left:55px;
}

#fresh_racking .imgitem:nth-of-type(5), #recommend .imgitem:nth-of-type(5),#hot_sale .imgitem:nth-of-type(5),
#exclusive .imgitem:nth-of-type(5),#last_week .imgitem:nth-of-type(5),#replenishment .imgitem:nth-of-type(5),
#fashionable .imgitem:nth-of-type(5)
{
    margin-left:55px;
}

#hot_sale, #recommend, #exclusive, #last_week, #replenishment, #fashionable{
    float:left;
}
/*//item页面*/
#category_path{
    margin-left: 150px;
    margin-top: 20px;
    font-size: 14px;
    margin-bottom: 20px;
}

#category_path a{
    text-decoration: none;
    color:#000;
}

#item_carousels{
    float: left;
    width: 500px;
    margin-left: 150px;
    height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
}

#item_carousels_thumbnail img{
    width:80px;
    height: 60px;
}

#item_content{
    font-size: 20px;
    margin-top: 15px;
    font-family: "黑体";
    color: #333;
}

#item_properties,#item_description,#item_buy{
    /*font-size: 20px;*/
    margin-top: 15px;
    color: #333;
}

#item_description label{
    float:left;
    margin-left:3px;
}

input[value=加入购物车]{
    float:left;
    margin-top:20px;
    margin-right:60px;
    height: 34px;
    width: 120px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-family: "Microsoft Yahei";
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,.3);
    background: #ffdebd;
}

input[value=立即购买],input[value=继续购物],input[value=提交]{
    float:left;
    margin-top:20px;
    height: 34px;
    width: 120px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-family: "Microsoft Yahei";
    box-shadow: 0px 0px 0px 0 rgba(255,222,189,.3);
    background: #ffdebd;
    cursor:pointer;
}

#count_input{
    width: 40px;
}

form input{
    cursor:pointer;
}

/*//footer*/
#footerline {
    width: 960px;
    height: 1px;
    background-color: silver;
    margin: 5px auto;
}

#copyright {
    margin: 0 auto;
    width: 120px;
    color: gray;
}

#footer{
    float: left;
    margin-left:150px;
    margin-bottom: 20px;
    margin-top: 20px;

}

/*购物车*/

#cartitems{
    margin-left:200px;
    margin-top:60px;
    /*float:left;*/
}

#cartitems label{
    margin-left:20px;
    margin-top:20px;
    font-family: 黑体;
    font-size: 16px;
}
#cartitems img{
    float:left;
}

.cart_item_block{
    float: left;
    width: 500px;
}

.cart_item_desc{
    height: 210px;
}

.cart_count_input{
    width:30px;
}

.cart_price, .cart_count, .cart_subtotal, .cart_remove, .cart_item_po{
    font-size:15px;
    margin-left: 120px;
    margin-top: 7px;
}

.cart_price, .cart_subtotal{
    font-style: italic;
    margin-left:200px;
}
.cart_count{
    margin-left:210px;
}
.cart_count input{
    text-align:center;
}

.cart_remove{
    margin-left:217px;
}

.cart_remove a, .cart_removeall a{
    color: #333;
}

#cart_removeall a{
    font-size: 15px;
}
#cart_removeall{
    margin-left: 400px;
}
#gosubmit{
    margin-left: 530px;
    position: absolute;
    margin-top: -55px;
}

input[value=继续购物]{
    margin-right:55px;
}

/*orders-mine/orders-placement页面*/
#totalorders{
    width:1080px;
    margin: 30px 180px;
}

#cart_table{
    width:800px;
}

.orders_itemname {
    margin-left: 45px;
    margin-top: 38px;
    /* margin: 38px 80px auto 80px; */
    position: absolute;
}

#orders_totalprice{
    float: right;
    margin-right: 200px;
    font-size: 16px;
}

#orders_leftmessage{
    width: 300px;
    height: 100px;
}

#orders_submit{
    margin-right: 200px;
    float: right;
    margin-top: -60px;
}

#orders_block{
    margin-top: 50px;
    margin-bottom: 50px;
}

#orders_addnewaddr{
    float: right;
    margin-right: 200px;
    font-size: 15px;
    margin-top: -30px;
}

/*consignee*/
#consignee_body,#consignee_form,#orders_mine_buys_list{
    width: 1080px;
    margin: 40px 180px;
    font-size: 14px;
}
#new_consignee{
    float: right;
    margin-right: 200px;
}
#consignee_table,#orders_currentaddrs{
    width:800px;
}
#consignee_current{
    font-size: 14px;
}
#orders_addrslabel{
    font-size: 15px;
}

/*orders-mine*/
#pagination{
    float: right;
    margin-right: 275px;
}

#orders_mine_ordermgt{
    width: 1080px;
    margin: 20px 150px;
    font-size: 14px;
}

#path{
    margin-bottom: 20px;
}

#loginform{
    width: 220px;
    margin: 40px auto;
}

/*goodies*/
#selection{
    width: 960px;
    margin-left: 150px;
}

#goodies_list{
    display:inline;
}
#display_order{
    margin: 15px auto;
    font-size: 14px;
}
#filters{
    font-size: 14px;
}
#display_order a,#filters a{
    color:black;
}
