#Style_treeC1,#Style_treeC2 {
    float: left;
}
#Style_treeC2 {
    margin-right: 70px;
    margin-top: 32px;
}
#Style_treeB {
    float: right;
    margin-top: -184px;
}
#Style_treeP {
    float: left;
}
#Style_treeO {
    float: right;
    margin-right: 114px;
}
#TreeFrameUp   {
    width:580px;
    margin-left: 458px;
    margin-top: 50px;
}
.treeborder {
    width:230px;
    height: 358px;
    margin-top: 5px;
    margin-left: 2px;
    border: 1px solid #617775;
    -webkit-border-radius: 2px;
    -moz-border-radius:2px;
    border-radius:2px;
    background: rgb(244,244,244);
    box-shadow: 2px 2px 4px #888888;
    -webkit-box-shadow: 2px 2px 4px #888888;
    -moz-box-shadow: 2px 2px 4px #888888;
    overflow-y:scroll;
}

#crudbutton_c1{
    margin-left: 35px;
}
#crudbutton_b{
    float: right;
    margin-top: -216px;
    margin-right: 40px;
}

#moveBrand_left{
    margin-left: 27px;
    margin-top: 140px;
    width: 60px;
}
#moveBrand_right{
    margin-left: 27px;
    width: 60px;
}

#line{
    width:960px;
    height:1px;
    border-color: gray;
    margin-top:20px;
    margin-left:100px;
}
#TreeFrameDown{
    width: 960px;
    margin-left: 340px;
    margin-top: 200px;
}
#crudbutton_p{
    margin-left: 340px;
}
#crudbutton_o{
    float: right;
    margin-top: -26px;
    margin-right: 153px;
}




