/*定义header宽度*/
.header_frame{
    width:1280px;
}
/*定义logo*/
.logo{
    margin-left: 120px;
}
body{
    margin: 0;
    font-size: 75%;
    color: #222;
    font-family: 'Lucida Grande', Tahoma, Arial, '宋体';
    line-height: 1.5;
}
.page{
    margin:0 auto;
    width:1280px;
    margin-bottom: 10px;
}
#search{
    width: 330px;
    margin-top: -120px;
    margin-left: 400px;
}
.search_box{
    width:300px;
    height:30px;
    padding-right: 5px;
    background-image: url('/css/img/search.png') ;
    background-repeat:no-repeat;
    background-position:275px;
    border: 1px inset;
    border-radius: 5px;
}
#nav-menu{
    margin-top: 30px;
    margin-left: 140px;
}
#cart{
    float: right;
    margin-right: 100px;
    font-size: 1em;
    letter-spacing: 1px;
}
#cart a{
    padding-right: 30px;
    color: rgb(46, 45, 44);
    text-decoration: none;
}
#left-nav{
    width: 200px;
    margin: 40px 100px 0 150px;
    line-height: 20px;
    float: left;
}

#navigation_bar{
    margin-left: 100px;
}

#nav_top{
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 20px;
    width: 200px;
    height: 30px;
    padding-top: 8px;
    background-color: silver;
}
.nav_menu{
    font-size: 1.2em;
    color: rgb(39, 38, 38);
    margin-top: 20px;
}
.nav_submenu{
    /*margin-left: 15px;*/
}
.nav_submenu a{
    text-decoration: none;
    color:black;
}
/*最后一个子菜单的bottom要大一点*/
.nav_submenu+.nav_line{
    margin-top: 20px;
}
/*每个nav_menu头上有一条分割线*/
.nav_line{
    width: 200px;
    height: 1px;
    background: silver;
}
.sep_line{
    width: 700px;
    height: 1px;
    background: silver;
    margin-bottom: 20px;
    margin-top:20px;
}
/*定义后台右边内容整体布局*/
.rightcontent{
    width: 630px;
    margin-left: 458px;
    margin-top: 20px;
}

#avatar_form{
    margin-bottom: 20px;
}

#tops{
    margin-bottom: 20px;
    margin-left: 80px;
}
#tops input{
    margin-right: 30px;
}
#brands,#cates,#props,#price,#itemname,#itemdesc{
    margin-bottom: 15px;
}

#props,#cates,#price,#subcates,#options{
    float:left;
    margin-right: 50px;
}
#cates,#props{
    margin-right:30px;
}
.rightcontent textarea{
    width:300px;
    height: 100px;
}
#avatarpicture,#carouselspicture{
    float:left;
}
#avatar_list,#carousels_list{
    float: right;
}
.buhuo,#starttime{
    float:left;
}
#items_table{
    width:700px;
}

#item_edit_form{
    margin-top:50px;
}

/*//footer*/
#footerline {
    width: 960px;
    height: 1px;
    background-color: silver;
    margin: 5px auto;
}

#copyright {
    margin: 0 auto;
    width: 120px;
    color: gray;
}

#footer{
    float: left;
    margin-left:150px;
    margin-bottom: 20px;
    margin-top: 20px;

}