#Style_treeC1 {
    float: left;
}
#Style_treeB {
    float: right;
    margin-top: -184px;
}
#TreeFrameUp   {
    width:580px;
    margin-left: 630px;
    margin-top: 100px;
}
.treeborder {
    width:230px;
    height: 358px;
    margin-top: 5px;
    margin-left: 2px;
    border: 1px solid #617775;
    -webkit-border-radius: 2px;
    -moz-border-radius:2px;
    border-radius:2px;
    background: rgb(244,244,244);
    box-shadow: 2px 2px 4px #888888;
    -webkit-box-shadow: 2px 2px 4px #888888;
    -moz-box-shadow: 2px 2px 4px #888888;
    overflow-y:scroll;
}

#crudbutton_c1{
    margin-left: 35px;
}
#crudbutton_c2{
    float: right;
    margin-top: -216px;
    margin-right: 40px;
}

#moveBrand_left{
    margin-left: 27px;
    margin-top: 140px;
    width: 60px;
}
#moveBrand_right{
    margin-left: 27px;
    width: 60px;
}

